<script>
  const colorPrimary = '#607d8b';
  const colorSecondary = '#c54e00';
  const colorTertiary = '#00bfa5';
  const financials = {{ page.financial_stats | jsonify }};
  const assets = financials.map(value => value.assets).reverse();
  const distributions = financials.map(value => value.distributions).reverse();
  const distributionsNegative = financials.map(value => value.distributions * -1).reverse();
  const contributions = financials.map(value => value.contributions).reverse();
  const years = financials.map(value => value.tax_year).reverse();
  const year1 = financials[0];

  const chartString1Year = {
    type: 'horizontalBar',
    responsive: true,
    data: {
      labels: ['Contributions', 'Distributions', 'Assets',],
      datasets: [{
        data: [          
          year1.contributions,
          year1.distributions,
          year1.assets,
        ],
        backgroundColor: [
          colorTertiary,
          colorSecondary,
          colorPrimary,
        ],
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Latest Electronic Tax Filing ({{ page.filings[0].tax_year | round }})'
      },
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true,
            callback: '',
          }
        }],
        yAxes : [ {
          gridLines : {
            display : false
          }
        }]
      },
    }
  };

  const chartString5Year = {
    type: 'bar',
    responsive: true,
    data: {
      labels: years,
      datasets: [
        {
            label: 'Assets',
            borderColor: colorPrimary,
            data: assets,
            type: 'line',
            fill: false,
        },
        {
            label: 'Distributions',
            backgroundColor: colorSecondary,
            data: distributions,
        },
        {
            label: 'Contributions',
            backgroundColor: colorTertiary,
            data: contributions,
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: 'All Available Electronic Tax Returns',
      },
      legend: {
        display: true,
      },
      scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true,
                callback: '',
            },
        }],
        xAxes : [{
          gridLines : {
            display : false,
          },
        }],
      },
    },
  };

  // HACK As ticks callback is only empty string, replace('""') works, but seems risky
  // Only show chart if two or more filings exist
  {% if page.filings[1] %}
  const objFiveYearString = JSON.stringify(chartString5Year).replace('""', currencyHuman.toString())
  const encodedString5Year = encodeURIComponent(objFiveYearString);

  let target5Yr = document.getElementById('quickchart-five-year');
  target5Yr.src = `https://quickchart.io/chart?width=500&height=300&c=${encodedString5Year}`;

  function currencyHuman(num, decimals) {
    if (num === null) { return null; }
    if (num === 0) { return '0'; }
    if (isNaN(num)) { return num; }
    const fixed = !decimals || decimals < 0 ? 0 : decimals;
    const b = num.toPrecision(2).split('e');
    const k = b.length === 1 ? 0 : Math.floor(Math.min(b[1].slice(1), 14) / 3);
    const c = k < 1 ? num.toFixed(0 + fixed) : (num / Math.pow(10, k * 3) ).toFixed(1 + fixed);
    const d = c < 0 ? c : Math.abs(c);
    const e = d + ['', 'K', 'M', 'B', 'T'][k];
    return "$" + e;
  }
  {% endif %}
</script>