<!-- TODO Wire up Post button -->
<!-- TODO Finish for validation messaging -->
<div id="community-sidebar" class="sidenav">
  <div class="card-panel blue-grey z-depth-1 white-text">
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Chad Kruse Profile Picture" class="circle responsive-img">
      </div>
      <div class="col s10">
        Grantmakers.io a community of passionate nonprofit practitioners sharing knowledge and resources
      </div>
    </div>
  </div>
  <ul class="collapsible">
    <li class="active">
      <div class="collapsible-header">Community Q&A</div>
      <div class="collapsible-body">
        <ul id="stitch-qa-sidebar" class="list-nested">
          <li class="center-align">
            <i class="material-icons large text-muted-max">help</i><br>
            <h5>Start the conversation</h5>
            <h6 class="text-muted small">You're the first to ask a question<br>about this funder!</h6>
          </li>
          <li>
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix blue-grey-text">question_answer</i>
                    <textarea id="icon_prefix2" class="materialize-textarea grey lighten-4"></textarea>
                    <label for="icon_prefix2">Ask the community</label>
                    <!-- <span class="helper-text"><a href="#">Learn more</a></span> -->
                  </div>
                  <div class="col s12 center-align">
                    <div class="action-bar">
                      <button class="btn blue-grey">
                        <!--<i class="material-icons left">insert_comment</i> -->Post
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </li>
        </ul> 
      </div>
    </li>
  </ul>
</div>