<div id="feedback-js-modal" class="modal"> 
  <div class="modal-content"> 
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="{{ site.baseurl }}/assets/img/email-profile.png" alt="Email Profile">
            <a href="mailto:?to=&subject=Grantmakers.io%20Profile%20-%20{{ page.organization_name | url_encode }}&body=%0D%0A%0D%0A{{ site.url }}{{ site.baseurl }}/{{ page.ein }}" target="_blank" class="btn-floating halfway-fab waves-effect waves-light blue" data-ga="Email Profile to Self"><i class="material-icons">email</i></a>
          </div>
          <div class="card-content">
            <p>Send to yourself or a colleague</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="{{ site.baseurl }}/assets/img/send-feedback.png" alt="Send Feedback">
            <a href="mailto:feedback@grantmakers.io?body=%0D%0A%0D%0A{{ site.url }}{{ site.baseurl }}/{{ page.ein }}" target="_blank" class="btn-floating halfway-fab waves-effect waves-light green" data-ga="Email Feedback"><i class="material-icons">email</i></a>
          </div>
          <div class="card-content">
            <p>Let us know what information is useful</p>
          </div>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col s12 center-align">
        <a class="white-text" href="mailto:hello@grantmakers.io">hello@grantmakers.io</a>
      </div>
    </div>
  </div>
</div>

<script>
  /* GA event for feedback FAB */
  $("#feedback-fab").on("click", function() {
    ga("send", "event", {
      "eventCategory": "Profile Events",
      "eventAction": "Profile Feedback FAB Click",
      "eventLabel": $(this).data("ga"),
    });
  });
  /* Ga events for feedback modal buttons */
  $("#feedback-js-modal a").on("click", function() {
    ga("send", "event", {
      "eventCategory": "Profile Events",
      "eventAction": "Profile Feedback Clicks",
      "eventLabel": $(this).data("ga"),
    });
  });
</script>