<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   // Send initial pageview, then clean urls of UTM info
  ga('create', '{{ site.google-analytics }}', 'auto');
  ga('send', 'pageview', { 'hitCallback': removeUtms });
  function removeUtms() {
    const location = window.location;
    if (location.search.indexOf('utm_') !== -1 && history.replaceState) {
      history.replaceState({}, '', window.location.toString().replace(/(&|\?)utm([_a-z0-9=]+)/g, ''));
    }
  }

</script>