<div class="left-action-bar hide-on-med-and-down">
  <ul class="z-depth-3">
    <!--
    <li>
      <a href="#" class="tooltipped" data-tooltip="Save this profile" data-position="right">
        <i class="material-icons">star_outline</i>
        <span>Save</span>
      </a>
    </li>
    <li>
      <a href="#" class="tooltipped" data-tooltip="Your recently viewed profiles" data-position="right">
        <i class="material-icons">restore</i>
        <span>Recents</span>
      </a>
    </li>
    -->
    <li>
      <a data-clipboard-text="{{ site.url }}{{ site.baseurl }}/{{ page.ein }}/" class="js-clipboard tooltipped" data-tooltip="Copy link to clipboard" data-position="right">
        <i class="material-icons">link</i>
        <span>Copy link</span>
      </a>
    </li>
    <li>
      <a href="mailto:?to=&subject=Grantmakers.io%20Profile%20-%20{{ page.organization_name | url_encode }}&body=%0D%0A%0D%0A{{ page.organization_name}}%0D%0A{{ site.url }}{{ site.baseurl }}/{{ page.ein }}/" target="_blank" class="tooltipped" data-tooltip="Share this profile via email" data-position="right">
        <i class="material-icons">send</i>
        <span>Share</span>
      </a>
    </li>
  </ul>
</div>