<div class="left-action-bar hide-on-med-and-down">
  <ul class="z-depth-3">
    <li>
      <a class="tooltipped" data-js="save" data-tooltip="Save this profile" data-position="right" data-ga="Save profile via Left Action Bar" data-ein="{{ page.ein }}" data-name="{{ page.organization_name }}" data-url="{{ site.url }}{{ site.baseurl }}/{{ page.ein }}/" data-tax-year="{{ page.filings[0].tax_year | round }}">
        <i class="material-icons">star_outline</i>
        <span>Save</span>
      </a>
    </li>
    <li>
      <a href="mailto:?to=&subject=Grantmakers.io%20Profile%20-%20{{ page.organization_name | url_encode }}&body=%0D%0A%0D%0A{{ page.organization_name}}%0D%0A{{ site.url }}{{ site.baseurl }}/{{ page.ein }}/" target="_blank" class="tooltipped" data-tooltip="Share this profile via email" data-position="right" data-ga="Share Profile via Left Action Bar">
        <i class="material-icons">email</i>
        <span>Share</span>
      </a>
    </li>
    <li>
      <a class="tooltipped js-clipboard" data-clipboard-text="{{ site.url }}{{ site.baseurl }}/{{ page.ein }}/" data-js="copy" data-tooltip="Copy link to clipboard" data-position="right" data-ga="Copy Link via Left Action Bar">
        <i class="material-icons">link</i>
        <span>Copy link</span>
      </a>
    </li>
  </ul>
</div>