<!-- Navbar -->
<div class="navbar-fixed">
  <nav class="navbar-profile navbar-profile-index affix-top">
    <div class="nav-wrapper">
      <div class="container-custom">
        <a href="#" data-target="mobile-nav" class="sidenav-trigger right disable-primary-color"><i class="material-icons">menu</i></a>
        <div class="row">
          <div class="col s8 m4 l4">
            <a href="https://www.grantmakers.io" data-ga="Homepage" class="brand-logo">
              <div class="logo-container">
                <div class="logo">
                    <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Grantmakers Logo">
                </div>
                <div class="brand brand-name">
                    Grantmakers.io
                </div>
              </div>
            </a>
          </div>
          <div class="col m4 l8">
            <ul class="nav-primary hide-on-med-and-down right-align">
              <li>
                <a href="{{ site.url }}/search/profiles/">
                  <i class="material-icons left left-tighten grantmakers-text">lens</i> Find a Foundation Profile
                </a>
              </li>
              <li>
                <a href="{{ site.url }}/search/grants/">
                  <i class="material-icons left left-tighten blue-grey-text">lens</i> Search all Grants
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- Mobile Navbar -->
<ul class="nav-primary sidenav" id="mobile-nav" >
  <li>
    <a href="{{ site.url }}/search/profiles/">
      <i class="material-icons grantmakers-text">find_in_page</i> Find a Foundation Profile
    </a>
  </li>
  <li>
    <a href="{{ site.url }}/search/grants/">
      <i class="material-icons blue-grey-text">find_in_page</i> Search all Grants
    </a>
  </li>
  <li><hr class="divider"></li>
  <li><a href="{{ site.baseurl }}/" data-ga="Home">Home</a></li>
  <li><a href="{{ site.url }}/about/" data-ga="About">About</a></li>
  <li><a href="{{ site.url }}/faq/" data-ga="FAQ">FAQ</a></li>
  <!--
  <li><hr class="divider"></li>
  <li><a class="waves-effect waves-light btn-flat grey lighten-3" href="{{ site.url }}/search/profiles/"><i class="material-icons left">search</i> Search</a></li>
  -->
</ul>
<!-- End Mobile Navbar -->
<!-- End Navbar -->