<!-- Handlebars templates-->
{% include saved-profiles-template.html %}

<!-- Handlebars scripts-->
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js" 
  integrity="sha256-3p+DEZPFKqDAX89d3l22ahOiLoe54iW8rGvi2NtRNjM=" 
  crossorigin="anonymous">
</script>
<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" 
  integrity="sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=" 
  crossorigin="anonymous">
</script>
<script src="{{ site.baseurl }}/assets/js/reactive-hbs.js"></script>
<!--<script src="{{ site.baseurl }}/assets/js/saved-profiles.js"></script> -->