<div id="grantsPlaceholderTableWrapper" class="seo-placeholder-table card-panel-body">
  <div class="responsive-table-wrapper">
    <table id="grantsPlaceholderTable" class="striped bordered">
      <thead>
        <tr>
          <th class="text-nowrap right-align" data-sort="int"><span>Amount ($)</span></th>
          <th data-sort="string"><span>Name</span></th>
          <th data-sort="string"><span>Purpose</span></th>
          <th data-sort="string"><span>Location</span></th>
          <th data-sort="int" class="text-center"><span>Year</span></th>
        </tr>
      </thead>
      <tbody>
        {% assign sorted_grants = page.grants | sort: 'amount' | reverse %}
        {% if sorted_grants.size > 0 %}
          {% for each in sorted_grants limit:20 %}
            <tr>
              <td class="right-align" data-sort-value="{{ each.amount }}">{{ each.amount | round | intcomma }}</td>
              <td>{{ each.name }}</td>
              <td>{{ each.purpose }}</td>
              {% if each.is_foreign == true %}
              {% assign is_foreign_true = true %}
                <td class="text-nowrap">{% if each.city != null %}{{ each.city }}, {{ each.country }}*{% endif %}</td>
              {% else %}
                <td class="text-nowrap">{% if each.city != null %}{{ each.city }}, {{ each.state }}{% endif %}</td>
              {% endif %}
              <td class="left-align">{{ page.filings[0].tax_year | round }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td></td>
            <td>No Grants Listed</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {% endif %}
      </tbody>
      {% if is_foreign_true %}
      <tfoot>
        <tr>
          <td colspan="5" class="small text-muted">(*) Denotes foreign country</td>
          <!--TODO Add country list modal-->
        </tr>
      </tfoot>
      {% endif %}
    </table>
  </div>
</div>