<h4>{{ state.name 

| replace: 'AL', 'Alabama' 
| replace: 'AK', 'Alaska' 
| replace: 'AS', 'American Samoa' 
| replace: 'AZ', 'Arizona' 
| replace: 'AR', 'Arkansas' 
| replace: 'CA', 'California' 
| replace: 'CO', 'Colorado' 
| replace: 'CT', 'Connecticut' 
| replace: 'DE', 'Delaware' 
| replace: 'DC', 'District Of Columbia' 
| replace: 'FM', 'Federated States Of Micronesia' 
| replace: 'FL', 'Florida' 
| replace: 'GA', 'Georgia' 
| replace: 'GU', 'Guam' 
| replace: 'HI', 'Hawaii' 
| replace: 'ID', 'Idaho' 
| replace: 'IL', 'Illinois' 
| replace: 'IN', 'Indiana' 
| replace: 'IA', 'Iowa' 
| replace: 'KS', 'Kansas' 
| replace: 'KY', 'Kentucky' 
| replace: 'LA', 'Louisiana' 
| replace: 'ME', 'Maine' 
| replace: 'MH', 'Marshall Islands' 
| replace: 'MD', 'Maryland' 
| replace: 'MA', 'Massachusetts' 
| replace: 'MI', 'Michigan' 
| replace: 'MN', 'Minnesota' 
| replace: 'MS', 'Mississippi' 
| replace: 'MO', 'Missouri' 
| replace: 'MT', 'Montana' 
| replace: 'NE', 'Nebraska' 
| replace: 'NV', 'Nevada' 
| replace: 'NH', 'New Hampshire' 
| replace: 'NJ', 'New Jersey' 
| replace: 'NM', 'New Mexico' 
| replace: 'NY', 'New York' 
| replace: 'NC', 'North Carolina' 
| replace: 'ND', 'North Dakota' 
| replace: 'MP', 'Northern Mariana Islands' 
| replace: 'OH', 'Ohio' 
| replace: 'OK', 'Oklahoma' 
| replace: 'OR', 'Oregon' 
| replace: 'PW', 'Palau' 
| replace: 'PA', 'Pennsylvania' 
| replace: 'PR', 'Puerto Rico' 
| replace: 'RI', 'Rhode Island' 
| replace: 'SC', 'South Carolina' 
| replace: 'SD', 'South Dakota' 
| replace: 'TN', 'Tennessee' 
| replace: 'TX', 'Texas' 
| replace: 'UT', 'Utah' 
| replace: 'VT', 'Vermont' 
| replace: 'VI', 'Virgin Islands' 
| replace: 'VA', 'Virginia' 
| replace: 'WA', 'Washington' 
| replace: 'WV', 'West Virginia' 
| replace: 'WI', 'Wisconsin' 
| replace: 'WY', 'Wyoming'

}}</h4>