---
---
/****************************
Override Materialize variables
*****************************/
$font-stack: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$primary-color: #999999;
$secondary-color: #c54e00;
$error-color: color("yellow", "base");
$link-color: $secondary-color !default;

// Import Materialize
@import 'materialize';

/****************************
Grid Sizes
*****************************/

// Materialize naming scheme
$small-screen-up: 601px !default; // Mobile
$medium-screen-up: 993px !default; // Tablet
$large-screen-up: 1201px !default; // Desktop
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

/****************************
Custom colors
*****************************/

$grantmakers: #c54e00;
$grantmakers-medium: #F56A10;
$grantmakers-light: #FB8F48;
$grantmakers-lightest: lighten($grantmakers-light, 30%);
$grantmakers-dark: #A13F00;
$grantmakers-darker: #772F00;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #999999 !default; // #999999
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest: 				 #f5f5f5;

.grantmakers-color-bg, .btn-grantmakers, .grantmakers {
	background-color: $grantmakers !important;
}

.btn-grantmakers:hover {
	background-color: darken($grantmakers, 5%);
}

.grantmakers-color, .grantmakers-text {
	color: $grantmakers !important;
}

a:not(.btn):not(.btn:hover) {
	color: $grantmakers;
}

.disable-primary-color {
	color: inherit !important;
}

/****************************
Helpers
*****************************/
/* Sitewide helpers */
$accent-color: $grantmakers;
$text-muted: #757575;
$text-muted-max: #9e9e9e;
$text-color: rgba(0,0,0,0.87);
$placeholder: $text-muted-max;
.btn, .accent {
  background-color: $accent-color;
}
.text-muted {
  color: $text-muted !important;
}
.text-muted-max {
  color: $text-muted-max !important;
}
.text-bold {
	font-weight: 700;
}
.text-light, .text-thin {
	font-weight: 300;
}
.accent-text {
  color: $accent-color;
}
ul.btn-group {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	flex-wrap: wrap;
	li {
		margin: auto;
		@media #{$medium-and-down} {
			margin-bottom: 10px;
		}
	}
}
.small {
  font-size: 85%;
}
.hidden {
  display: none;
}
.no-wrap, .text-nowrap {
  white-space: nowrap;
}
.modal:focus {
	outline: 0;
}
/* Inline lists */
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
// Match icon size with font
p i.material-icons {
	font-size: 15px;
	line-height: 1.5;
	vertical-align: bottom;
}
.card-action-community-alert {
	display: none;
	a {
		text-transform: none !important;
	}
	i.material-icons {
		vertical-align: bottom;
	}
}
.card {
	&.info-card {
		transition: unset;
		box-shadow: none;
	}
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
	&.slim {
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

input::-ms-clear {
  display: none;
}

/* Animations */
@keyframes md-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
.md-spin {
	animation: md-spin 0.6s infinite linear;
}
/* Source: https://codepen.io/levineuland/pen/AmwCL */
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
	animation-duration: 1s;
	animation-iteration-count: 5;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-15px);}
  60% {transform: translateY(-10px);}
}
.bounce {
	animation-name: bounce;
	animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/************************************
Print
*************************************/

@media print {
  @page {
    size: 330mm 427mm;
    margin: 14mm;
	}

	// No borders / shadows
	.main-raised {
		margin: 0 !important;
		box-shadow: none !important;
	}

	// Fixed header
	#main-nav {
		display: none;
	}

	// Background image
	.header-bg {
		display: none;
	}

	// Maximize space on page
	.main {
		top: 150px;
	}
	#profile, #summary, #people {
		margin-bottom: 0 !important;
	}
	.card-panel-header h4 {
		line-height: initial;
		margin: 0;
	}

	// Summary & People
	.col.s12.l4 {
		width: 33.3333333333%;
	}
	.col.s12.l7.offset-l1 {
		margin-left: 8.3333333333%;
		width: 58.3333333333%;
	}

	// Grants
	.pushpin-nav-search, .pin-bottom {
		position: relative !important;
		top: 0px !important;
	}
	.pinned {
		box-shadow: none !important;
	}
	.pin-bottom  {
		display: block !important;
	}
	.pin-bottom .profile-content #grants .card-panel-header-wrapper {
		height: inherit !important;
	}
	// Filters
	.ais-stats {
		display: none;
	}
	.section-refinements .card {
		width: 33% !important;
		height: 316px;
		display: inline-table;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05)
	}

	// Dynamic Vue elements
	.left-action-bar {
		display: none !important;
	}

	// Enable helpers
	.print-hidden {
		display: none !important;
	}
}

/************************************
List Groups Component
*************************************/

.list-group {
    border-radius: 0;
}
.list-group .list-group-item {
    background-color: transparent;
    overflow: hidden;
    border: 0;
    border-radius: 0;
    padding: 0 16px;
}
.list-group .list-group-item .row-picture, .list-group .list-group-item .row-action-primary {
    display: inline-block;
    padding-right: 16px;
}
.list-group .list-group-item .row-picture i, .list-group .list-group-item .row-action-primary i {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
    color: white;
}
.list-group .list-group-item .row-picture img, .list-group .list-group-item .row-action-primary img, .list-group .list-group-item .row-picture i, .list-group .list-group-item .row-action-primary i, .list-group .list-group-item .row-picture label, .list-group .list-group-item .row-action-primary label {
    display: block;
    width: 56px;
    height: 56px;
}
.list-group .list-group-item .row-content {
    display: inline-block;
    width: -webkit-calc(100% - 92px);
    width: calc(100% - 92px);
    min-height: 66px;
}
.list-group .list-group-item .row-content .least-content {
    position: absolute;
    right: 16px;
    top: 0;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}
.list-group .list-group-item .list-group-item-heading {
    color: rgba(0, 0, 0, 0.77);
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
}
.list-group .list-group-separator {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-group .list-group-separator:before {
    content: "";
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
}
.list-group-item-heading, .list-group-item-text {
	margin: 0;
}

/****************************
Sitewide layout
*****************************/
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
	color: #333;
	font-weight: 300;
	font-style: normal;
}

.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
}

.main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media #{$medium-and-down} {
	.main-raised {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.container-custom {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media #{$large-and-up} {
		width: 970px;
	}
	@media #{$extra-large-and-up} {
		width: 1170px;
	}
}

button.tooltipped {
	-webkit-appearance: none;
	border: 0;
	padding: 0;
	background: 0;
}
i.tooltipped {
	cursor: default;
}

.pinned {
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	z-index: 998;
	&.pushpin-nav-search {
		@media #{$small-and-down} {
			width: 304px; // Chrome 
			//width: 250px; // Firefox
		}
		@media #{$medium-and-up} {
			//width: 596px;
			width: 90%;
		}
		@media #{$large-and-up} {
			width: 920px;
		}
		@media #{$extra-large-and-up} {
			width: 1117px;
		}
	}
}

.pin-top, .pin-bottom {
	position: inherit;
}

.pin-bottom  {
	display: none;
}

i.suffix {
	position: absolute;
	top: 5px;
	left: auto !important;
	right: 0px;
	margin-right: 5px;
	z-index: 3;
	width: 2rem;
	//float: right;
	font-size: 2rem;
	transition: color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
	left:7%;
	z-index: 2147483648; // Add 1 point to z-index of Drift widget
	@media #{$small-and-down} {
		left: 0;
		bottom: 0;
	}
}

/* Navbar */
.navbar-fixed {
	position: fixed;
	top: 0;
}
nav {
	border-top: none;
  box-shadow: none;
}

nav .logo-container {
	padding: 5px 0;
  display: inline-block;
}

nav ul.nav-center {
  text-align: center;
}
nav ul li {
	display: inline;
	float: none;
}
nav ul li a {
	display: inline-block;
	font-weight: 400;
  font-size: 12px;
	text-transform: uppercase;
	color: #fff !important;
	&:hover {
		color: inherit;
	}
}
.nav-primary a.account {
	vertical-align: top; // HACK Materialize has icon class right/left, but requires text
}

@media #{$medium-and-down} {
	nav .brand-logo {
		left: inherit;
		-webkit-transform: inherit;
		transform: inherit;
	}
}
.navbar-profile {
	font-weight: 400;
	height: 64px;
	&.navbar-profile-index {
		height: 64px;
	}
	@media #{$medium-and-down} {
		height: 64px;
	}
	&.transparent {
		background-color: transparent !important;
		border: 0 !important;
	}
	.breadcrumb-wrapper {
		display: none;
	}
	&.affix {
    background-color: $gray-lighter;
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    .brand-name, .nav-primary a {
			color: $gray !important;
		}
		.breadcrumb-wrapper {
			display: block;
			color: $gray !important;
			max-width: 98%; // handle ellipsis
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
			.breadcrumb, .breadcrumb:before, .breadcrumb:last-child {
				color: $gray !important;
				font-size: 85%;
				display: inline;
			}
		}
		.nav-profile-action-bar {
			display: block;
		}
		.sidenav-trigger i {
			color: $gray-light;
		}
		.try-it, .algolia-dark-bg {
    	display: none;
    } 
    .algolia-light-bg {
    	display: block;
		}
		.algolia-partnership-logo {
			display: none;
		}
	}
	
	.algolia-partnership-logo {
		span.text-spread {
			letter-spacing: 0.5px;
		}
		a {
			color: #ffffff !important; // Safari fix
		}
		img {
			width: 105px; // Image dimensions are 85w x 30h
			height: 30px;
			vertical-align: middle;
			padding-left: 20px;
			border-left: 1px solid white;
		}
	}
	i.left-tighten {
		margin-right: 3px;
	}
	/* initial navbar style */
	@media #{$small-and-down} {
		&.affix-top {
			background-color: rgba(0,0,0,0.4);
			box-shadow: none !important;
		}
	}
	@media #{$medium-and-up} {
    &.affix-top {
      background-color: transparent !important;
			border-color: transparent !important;
			box-shadow: none !important;
    }
  }
  .logo-container .logo {
		border: 0;
		width: 50px;
		height: 50px;
		float: left;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.logo-container .brand {
	  font-size: 16px;
	  color: #FFFFFF;
	  line-height: 32px;
	  float: left;
	  margin-left: 10px;
	  margin-top: 10px;
	  width: 70px;
	  height: 40px;
	  text-align: left;
	}
	.form-group {
		margin: 0;
		padding: 0;
	}
	.form-group input.form-control, .form-group.is-focused input.form-control {
		background: none;
		background-color: white;
		margin: 0;
		padding: 0px 10px;
		padding-right: 50px; //Allow room for add-on icon
		border-radius: 3px;
	}
	.input-group-addon-close {
		padding: 0px;
    position: absolute;
    right: 30px;
    top: 10px;
    color: $gray !important;
    cursor: pointer;
    z-index: 4;
	}
}
.header-bg {
	position: relative;
	background-image: url({{site.baseurl}}/assets/img/bg.jpg);
  background-size: cover;
}
.header-bg:after {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(0,0,0,0.4);
}

.profile-page, .profile-index-page, .simple-page {
	background-color: #ccc;
	.navbar-transparent {
		&.affix {
			a, .navbar-toggle, .brand-name {
				color: $gray !important;
				&:hover {
					color: $gray-light;
				}
			}
		}
	}
	.row-alert-fixed-to-top {
		line-height: 0px;
		margin: 0;
	}
	.alert-fixed-to-top {
		position: relative;
		top: -15px;
		//padding: 0px 15px;
		color: #fff;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		@media #{$small-and-down} {
			font-size: .8em;
		}
	}
	.navbar-center {
    display: inline-block;
    float: none;
	}
	.navbar .navbar-collapse {
	  text-align: center;
	}
	.navbar-profile-year {
		li {
			text-align: right;
			a {
				font-size: 16px;
				font-weight: 300;
				span {
					font-size: 10px;
					text-align: right;
				}
			}
		}
	}
}
.header-filter .container {
	z-index: 2;
	position: relative;
}
.header-filter:after {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 380px; // HACK 
	display: block;
	left: 0;
	top: 0;
	content: "";
	background: rgba(44,45,51,0.9);
	background: linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9));
	background: -moz-linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9));
	background: -webkit-linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9));
}
.profile-page .header, .profile-index-page .header, .simple-page .header {
	background-position: center center;
	height: 380px;
	min-height: 300px;
  background-size: cover;
}
.profile-page .profile img, .profile-index-page .profile img {
	max-width: 160px;
	max-height: 160px;
	margin: -80px auto 0;
}
.profile-page .main, .profile-index-page .main, .simple-page .main {
	background-color: $gray-lightest;
	//z-index: 2000; //HACK Fixed header loses transparent background
}
// Primary FAB
.fixed-action-btn {
	right: 3rem;
	bottom: 2rem;
	@media #{$small-and-down} {
		right: 2rem;
		bottom: 1rem;
	}
}
// Community Sidebar
#community-sidebar.sidenav {
	@media #{$large-and-up} {
		width: 450px;
	}
	ul {
		margin-top: 0px;
	}
	li {
		line-height: 1.6;
	}
	.card-panel {
		border-radius: 0;
		padding: 10px;
		margin: 0;
	}
	.row.valign-wrapper {
		margin-bottom: 0;
	}
	.collapsible-header {
		font-size: 85%;
		text-transform: uppercase;
		color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    line-height: 48px;
	}
	.collapsible-body li {
		//min-height: 84px;
		border: none;
    background-color: #fff;
    //line-height: 1.5rem;
    padding: 10px 20px;
		margin: 0;
	}
	.collection-item .title {
		font-weight: bold;
	}
	ul.list-nested {
		margin: 0 20px;
		li:first-child {
			padding-top: 20px;
		}
	}
	h6.small {
		line-height: 1.2rem;
	}
	$left: 12px;
	label {
		color: color("blue-grey", "base");
		padding-left: $left;
	}
	textarea {
		padding-left: $left;
		padding-right: $left;
	}
	textarea.materialize-textarea:focus {
		border-bottom: 1px solid color("blue-grey", "base");
    box-shadow: 0 1px 0 0 color("blue-grey", "base");
	}
	.helper-text a {
		padding: 0;
		padding-left: $left;
	}
	.action-bar {
		padding: 10px 0;
	}
	.collection-item p {
		margin: 0;
		white-space: pre-wrap;
	}
}
.card-profile-title	{
	font-size: 16px;
	padding: 20px;
	border-radius: 0 0 2px 2px;
}

// Login
form#login {
	img {
		width: 150px;
		height: 150px;
		margin: auto;
	}
}

// Left Action Bar
.left-action-bar {
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
	ul {
		background: color("blue-grey", "base");
    border-radius: 0 5px 5px 0;
    margin: auto;
    overflow: hidden;
    padding: 0;
	}
	li {
		font-size: 10px;
		cursor: pointer;
    list-style: none;
    height: 64px;
    width: 64px;
		transition: background .2s;
		text-align: center;
		border-bottom: 1px solid color("blue-grey", "lighten-1");
		&:last-child {
			border-bottom: none;
		}
		a {
			color: #fff !important;
			// color: color("grey", "darken-3");
			display: block;
			padding: 9px 0px;
			text-transform: uppercase;
		}
		a span {
			display: block;
			color: color("blue-grey", "lighten-4") !important;
		}
		&.disabled a {
			cursor: default;
			color: color("blue-grey", "lighten-4") !important;
		}
	}
	i.material-icons {
		display: block;
		font-size: 28px;
	}
}

/****************************
Mimic Algolia them - only the good parts
*****************************/
// Use these if NOT using algolia-theme
.ais-CurrentRefinements-delete, .ais-CurrentRefinements-reset, .ais-GeoSearch-redo, .ais-GeoSearch-reset, .ais-HierarchicalMenu-showMore, .ais-InfiniteHits-loadMore, .ais-InfiniteResults-loadMore, .ais-Menu-showMore, .ais-RangeInput-submit, .ais-RefinementList-showMore, .ais-SearchBox-reset, .ais-SearchBox-submit {
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[class^=ais-] {
  font-size: 1rem;
  box-sizing: border-box;
}
.ais-SearchBox-form {
  display: block;
  position: relative;
}
.ais-SearchBox-loadingIndicator, .ais-SearchBox-reset, .ais-SearchBox-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  right: .3rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ais-SearchBox-submit {
  left: .3rem;
}
.ais-SearchBox-submitIcon {
  width: 14px;
  height: 14px;
}
.ais-SearchBox-loadingIcon, .ais-SearchBox-resetIcon, .ais-SearchBox-submitIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.ais-Highlight-highlighted, .ais-Snippet-highlighted {
  background-color: lighten($accent-color, 50%); // Target color: #feebde
  font-size: inherit !important;
  color: inherit !important;
}

// Profiles
.profile-content {
	#profile, #noscript, #feedback, #profile-share, #information-source {
		margin-bottom: 75px;
	}
	#summary, #people, #grants, #application-info, #community, #filings {
		background-color: white;
		margin-bottom: 75px;
	}
	#profile-cta {
		margin-top: 75px;
		margin-bottom: 75px; 
		.input-field {
			i {
				line-height: 1.5;
				z-index: 1;
				background-color: #fafafa;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}
		}
		.algolia-logo-autocomplete {
			margin-bottom: 10px;
			padding-top: 10px;
			border-top: 1px solid $gray-lighter;
			img {
				vertical-align: middle;
			}
		}
		.input-field .prefix {
			top: 0;
		}
		.input-field .prefix ~ span input {
			width: 92%;
			width: calc(100% - 3.2rem);
			padding-left: 3.2rem;
			margin-bottom: 0;
			background-color: white;
			border-radius: 3px;
			border: 0;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
		}
		.algolia-autocomplete {
			width: 100%;
		}
		#autocomplete-input {
			font-size: 16px;
		}
		.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
			width: 100%;
		}
		.algolia-autocomplete .aa-hint {
			color: #999;
		}
		.algolia-autocomplete .aa-dropdown-menu {
			margin-left: 3rem;
			width: 92%;
			width: calc(100% - 3rem);
			text-align: left;
			background-color: #fff;
			top: 104% !important;
			-webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
			box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
		}
		.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
			cursor: pointer;
			padding: 5px 4px;
		}
		.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
			background-color: #B2D7FF;
		}
		.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
			font-weight: bold;
			font-style: normal;
		}
		.algolia-autocomplete .aa-dropdown-menu .empty {
			margin: 5px 0px;
			padding-left: 4px;
		}
	}
	.avatar .avatar-circle-w-icon {
		width: 160px;
		height: 160px;
    position: relative;
    bottom: 80px;
    padding: 55px;
		background-color: $gray-light;
		color: white;
	  display: inline-block;
	  border-radius: 80px;
	  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	}
	.org-name, .title {
		font-weight: 500;
		font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
	}
	.org-name a {
		color: #3C4858;
    text-decoration: none;
	}
	.org-location, .sub-title {
		margin: 30px auto 0;
		max-width: 600px;
		color: #999999;
		font-weight: 300;
	}
	.sub-title {
		text-transform: uppercase;
	}
	.profile-summary-icons {
		display: inline-block;
		li {
			float: left;
		}
		a, i.material-icons {
			color: #fff;
		}
		i.material-icons-active {
			color: $grantmakers;
		}
	}
	.tab-content {
		min-height: 500px;
	}
	.navbar {
		&.navbar-default {
			background-color: $gray-light;
		}
		&:not(.navbar-grant-search) {
			h3 {
				margin: 0;
			}
		}
	}
	.navbar-grant-search {
		.input-group-addon, input {
			color: white;
		}
		.form-group {
			margin-top: 15px;
		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: white;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: white;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: white;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: white;
		}
	}
	table {
		th  span{
			&:hover {
				cursor: pointer;
			}
		}
	}
	.list-group {
		padding-top: 15px;
		.list-group-item {
			margin-bottom: 24px;
			.btn {
				margin-right: 16px;
			}
			.row-action-primary i {
				border-radius: 3px;
				position: relative;
    		top: -8px; //TODO Fix HACK
			}
		}
		.list-group-item-info, .icon-info {
			background-color: #03a9f4!important;
		}
		.list-group-item-warning, .icon-warning {
			background-color: #fbc02d!important;
		}
		.list-group-item-success, .icon-success {
			background-color: #4caf50!important;
		}
		.icon-danger {
			background-color: $grantmakers !important;
		}
	}
	/****************************
	Grants / InstantSearch wrapper
	*****************************/
	#grants {
		font-weight: 400;
		a {
			color: inherit;
		}
		.section-results {
			clear: both;
			padding-left: 1rem; // TODO Feels like a hack
			padding-right: 1rem; // TODO Feels like a hack
		}
		.card-panel-header-wrapper {
			height: 82px; // Fix for pushpin jump
			@media #{$small-and-down} {
				// height: 121px;
				height: inherit;
			}
		}
		.card-panel-header .row:first-child {
			margin-bottom: 0;
		}
		.pushpin-nav-search.pinned {
			@media #{$small-and-down} {
				box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.14), 0 1px 5px -5px rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			}
		}
		.algolia-logo {
			color: inherit;
    	padding-top: 15px;
    	padding-bottom: 15px;
    	font-weight: 400;
    	font-size: 10px;
			text-transform: uppercase;
    	img {
    		width: 60px;
    		height: 16px;
    		vertical-align: middle;
    	}
		}
		h4 span.algolia-logo {
			padding: 0;
			position: relative;
			top: -15px;
			text-align: right;
			img {
				vertical-align: inherit;
			}
		}
		/* Searchbar */
		.nav-search {
			height: 64px;
		}
		.nav-search nav {
			margin-bottom: 10px;
			z-index: 3;
		}
		.nav-search nav.pinned {
			width: 100%;
			z-index: 3;
		}
		@media screen and (min-width: 993px) {
			.ais-search-box {
				max-width: 400px;
			}
		}
		#ais-widget-search-box input {
			width: calc(100% - 40px);
			padding-left: 40px;
			background-color: white;
			border: none;
			box-shadow: none;
			margin-bottom: 0;
			border-radius: 3px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: $placeholder;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: $placeholder;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: $placeholder;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: $placeholder;
			}
		}
		input::placeholder {
			color: $text-muted-max;
			@media #{$medium-and-down} {
				font-size: 85%;
			}
		}
		button.ais-SearchBox-reset, button.ais-SearchBox-submit {
			&:focus {
				background-color: inherit;
			}
		}
		.ais-SearchBox-submitIcon, .ais-SearchBox-resetIcon, .ais-SearchBox-loadingIcon {
			fill: $text-muted;
			width: 16px;
			height: 16px;
		}
		.algolia-loading {
			display: inline-block;
			height: 36px;
			vertical-align: bottom;
			margin-left: 10px;
			font-size: 15px;
		}
	}
	/* Stats */
	.ais-Stats-text span {
		@media #{$medium-and-down} {
			// display: none;
		}
		&:before {
			content: "(";
		}
		&:after {
			content: ")"
		}
	}
	.center-align-on-mobile {
		@media #{$small-and-down} {
			text-align: center;
		}
	}
	/* Sort By */
	#ais-widget-sort-by {
		.input-field {
			margin-top: 0px !important;
			margin-bottom: 0px !important;
		}
		input, .caret {
			color: $text-muted-max !important; 
		}
		.select-wrapper .caret {
			fill: $text-muted-max !important;
		}
		select, input {
			margin-bottom: 0 !important;
			border-bottom: 0 !important;
			line-height: 1.5rem !important;
			height: 1.5rem !important;
			font-size: 15px;
			font-family: 'Roboto';
		}
		.dropdown-content li>a, .dropdown-content li>span {
			color: $accent-color;
		}
	}
	.divider {
		clear: both;
	}

	/* Filters - Refinements */
	.card-header {
		padding: 10px;
		border-radius: 2px 2px 0px 0px;
		@media screen and (max-width: 992px) {
			line-height: 1.4rem;
		}
	}
	.ais-root__collapsed {
		.ais-header {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		span i {
			-ms-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.section-refinements {
		font-weight: 400;
		[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
			border: 2px solid $text-muted-max;
		}
		[type="checkbox"].filled-in:checked+span:not(.lever):after {
			border: 2px solid $accent-color;
			background-color: $accent-color;
		}
		label {
			color: inherit;
		}
		.ais-RefinementList-labelText {
			width: 80%;
		}
		.ais-RefinementList-count {
			&.small {
				font-size: 85%; // HACK
			}
		}
		.ais-RefinementList-item--selected {
			.ais-RefinementList-labelText, .ais-RefinementList-count {
				color: $accent-color !important;
			}
		}
		.ais-RefinementList--list:empty::after {
			content: 'No results'; 
		}

		/* Range Slider */
		.ais-RangeSlider .rheostat-progress {
			@extend .grey, .lighten-5;
		}
		.ais-RangeSlider--handle {
			border-color: $text-muted;
		}
	}

	/* Clear all */
	.section-clear-all {
		&.no-hits {
			padding-top: 0rem;
			padding-bottom: 0px;
			position: relative;
			top: -10px;
		}
	}
	.btn-custom {
		&:hover {
			background-color: lighten($accent-color, 5%)
		}
	}
	.ais-clear-all--link {
		color: inherit !important;
		display: inherit !important;
		background: inherit !important;
		border-radius: inherit !important;
		font-size: inherit !important;
		text-decoration: inherit !important;
		padding: inherit;
	}
	/* Mobile button */
	#ais-widget-mobile-clear-all {
		display: inline-block;
	}

	/* Current Refinements */
	#ais-widget-current-refined-values {
		ul {
			margin-top: 10px;
			margin-bottom: 0px;
			&:empty {
				margin-top: 0px;
			}
		}
		ul li {
			margin: 0;
			// margin-right: 0.5rem;
			// margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			padding: 0px 2px;
		}
		.btn:hover {
			background-color: $grantmakers;
		}
		.ais-CurrentRefinements-label {
			font-size: 85%;
		}
		.ais-CurrentRefinements-category {
			padding-left: 5px;
		}
		button {
			// padding-left: 5px;
			// line-height: 100%;
			/*
			&:before {
				font-family: "Material Icons";
				content: "remove_circle";
				color: white;
				vertical-align: top;
			} 
			&:focus {
				background-color: inherit;
				color: inherit;
			}
			*/
		}
	}

	/* Mobile Refinememnts */
	#refinements-slide-out {
		.ais-Panel.card {
			margin: 0;
		}
		.ais-RefinementList-item {
			line-height: 2.5rem;
		}
		label {
			color: inherit;
		}
	}

	/* Hits */
	table tbody {
		font-weight: 300;
	}
	#ais-widget-hits em {
		font-style: normal;
		background-color: lighten($accent-color, 50%);
	}
	#ais-widget-hits table th span:hover {
		cursor: default;
	}
	.hits-empty {
		margin: 0.5em;
		margin-top: 1em; // To match responsive table wrapper
	}
	#ais-widget-hits .seo-placeholder-table {
		padding: 0;
	}

	/* Pagination */
	/* Pagination */
	.pagination li.active {
		background-color: $grantmakers;
		color: white;
	}
	.pagination {
		.disabled {
			visibility: hidden;
		}
	}
	.ais-Pagination-list {
		display: inherit;
	}

	// http://maxdesign.com.au/articles/simple-responsive-table/
	.responsive-table-wrapper {
		width: 100%;
		overflow-y: auto;
		_overflow: auto;
		margin: 0 0 1em;
	}

	.responsive-table-wrapper::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
	}

	.responsive-table-wrapper::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 3px solid #fff;
		background-color: rgba(0, 0, 0, .3);
	}
	ul.collapsible-grants-table {
		.collapsible-header {
			color: $gray-light !important;
			i {
				font-size: 20px;
			}
		}
		.collapsible-body {
			i.material-icons {
				font-size: 15px;
				line-height: 1.5;
				vertical-align: bottom;
			}
		}
	}
	.tabs-grants-table {
		height: 20px;
	}
	.tabs-grants-table .tab {
		display: inherit;
    text-align: inherit;
    line-height: inherit;
    height: inherit;
    padding: inherit;
    margin: inherit;
    text-transform: inherit;
    a {
    	color: $gray-light !important;;
	    display: inherit;
	    width: inherit;
	    height: inherit;
	    padding: inherit;
	    font-size: 65%;
	    text-overflow: inherit;
	    overflow: inherit;
	    transition: inherit;
    }
	}
	.tabs-grants-table .indicator {
		display: none;
	}
	#tips {
		display: none;
	}
	.no-results #pagination, .no-results #sort-by, .no-results #facets, .no-results #clear, .no-results #stats, .no-results #left-column-affix-parent {
		display: none;
	}
	.no-results #tips {
		display: block;
	}
	#no-results-message {
		margin-top: 50px;
		small, a i {
			color: $gray-lightest;
		}
	}
	#tips ul li {
		margin-bottom: 20px;
	}
	ul.pagination li.active a {
		color: #fff !important;
		cursor: default;
	}
	ul.pagination li.active a.go-to-page:hover {
		background-color: inherit;
	}
	ul.pagination a.go-to-page:hover {
		background-color: #fff;
	}
	ul.pagination .disabled a {
		color: $gray-light !important;
		&:hover {
			color: $gray-light !important;
		}
	}
	#application-info {
		.collection, .collection-item {
			border: none;
		}
		.card-panel-header .row:first-child {
			margin-bottom: 0;
		}
	}
	#community {
		#insights ul {
			margin-bottom: 0;
		}
		.img-icon-16 {
			width: 16px;
			height: 16px;
			vertical-align: text-top;
		}
		.card-panel-body {
			padding: 15px 20px;
		}
		.collection, .collection-item {
			border: none;
		}
		.collection-item {
			padding-left: 10px;
			p {
				white-space: pre-wrap;
			}
		}
		.collection-item-empty-state p {
			margin-bottom: 1em;
		}
		.community-examples {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.action-group {
			padding: 20px 0px;
		}
	}
	#feedback {
		h5 {
			margin-bottom: 25px;
		}
	}
	#filings {
		li {
			.material-icons {
				color: $gray-light !important;
				margin: -1px 5px 0 0;
				vertical-align: middle;
			}
		}
		@media #{$medium-and-down} {
			li {
				padding-bottom: 10px;
			}
			li:first-child {
				display: block;
				margin-bottom: 10px;
			}
		}
		@media only screen and (max-width: 992px) {
			.show-on-medium-and-down {
					display: inline-block !important;
			}
		}
	}
}

// Sub pages e.g. non-profile, non-search pages
.section-simple-intro {
	margin-top: 64px;
	z-index: 2;
	h1.title {
		color: #fff;
	}
}
.main-account-page {
	.saved-profiles {
		min-height: 400px;
		padding: 80px 0;
	}
}
a.saved-profile-link {
	color: $text-color !important;
	margin-right: 10px;
}
#saved-blank-state {
	margin-bottom: -10px;
}
.saved-profiles {
	h1 {
		font-weight: 500;
		font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
	}
	.right .material-icons {
		font-size: 20px;
		line-height: 23px;
	}
	.collection-item .secondary-content {
		@extend .blue-grey-text;
		margin-right: 10px;
		cursor: pointer;
		&:focus {
			outline: 0;
		}
		&:first-child {
			margin-right: 0;
		}
		&:last-child {
			margin-left: 10px;
		}
	}
	.collection-item i.material-icons {
		@extend .blue-grey-text;
	}
}
.card-user-profile {
	@media #{$medium-and-up} {
		top: -200px;
	}
}

td, th {
	padding: 8px;
}

.card-panel {
	padding: 0;
}

.card-panel-header {
	background-color: color("grey", "lighten-3");
	color: rgba(0,0,0, 0.87);
	padding: 10px 15px;
	border: 0;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	h4 {
		font-weight: 300;
    font-size: 1.3em;
    line-height: 1.4em;
	}

}

.card-panel-body {
	padding: 15px;
}

table.bordered>thead>tr, table.bordered>tbody>tr {
  border-bottom: 1px solid #eee;
}

table tbody tr:last-child {
	border: 0 !important;
}

// http://maxdesign.com.au/articles/simple-responsive-table/
.responsive-table-wrapper {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.responsive-table-wrapper::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.responsive-table-wrapper::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

footer ul li {
	display: inline-block;
}

footer ul li a {
	color: inherit !important;
	padding: 15px;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	display: block;
}

footer .copyright {
	margin: 15px 0;
	padding: 15px 0;
	font-size: 14px;
	.material-icons {
	font-size: 14px;
	vertical-align: middle;
	//position: relative;
	//top: 3px;
	}
}

.footer-terms {
	background-color: $gray;
	color: $gray-light !important;
	position: absolute;
	width: 100%;
	.row {
		margin: 0; //Feels like a HACK
	}
	ul {
		margin: 5px 0;
	}
	a {
		color: $gray-light !important;
	}
}

/****************************
Index - list of links
*****************************/

ul#index {
	margin-top: 4rem;
	h3 {
		font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
	}
	h6, h3 {
		color: #999;
	}
	li.active i {
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		transform: rotate(180deg);
	}
}
@media #{$medium-and-up} {
	.each-index-item {
		padding-left: 68px;
		text-indent: -68px;
	}
}
