---
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Grantmakers.io Profile - {{ page.OrganizationName }}</title>
	<meta name="description" content="Profile for {{ page.OrganizationName }} ({{ page.City }}, {{ page.State }} - EIN {{ page.EIN }}) including grantees and board members as of {{ page.Filings[0].TaxYear}} tax year.">

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- Fonts and Icons  -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />

	<!-- Search and Algolia-Related  -->
	<!--
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.ion.rangeslider/2.0.12/css/ion.rangeSlider.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.ion.rangeslider/2.0.12/css/ion.rangeSlider.skinNice.css">
	-->

	<!-- CSS Files -->
	<link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

</head>

<body class="profile-page">
	<!-- Navbar -->
	<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll navbar-search"  data-spy="affix" data-offset-top="60">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="navbar-header">
				  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
			      	<span class="sr-only">Toggle navigation</span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
			      	<span class="icon-bar"></span>
				  	</button>
				  	<a href="https://www.grantmakers.io">
				    	<div class="logo-container">
				        <div class="logo">
				           <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Grantmakers Logo" rel="tooltip" title="<b>Grantmakers.io</b> is a free tool from your friends at <b>SmarterGiving.org</b>" data-placement="bottom" data-html="true">
				        </div>
				        <div class="brand brand-name">
				           Grantmakers.io
				        </div>
							</div>
				    </a>
			    </div>
				</div>
				<div class="collapse navbar-collapse" id="navigation-index">
					<div class="col-sm-4">
					
						<ul class="nav navbar-nav navbar-center">
							<li><a href="#people">People</a></li>
							<li><a href="#grants">Grants</a></li>
							<li><a href="#filings">Tax Filings</a></li>
						</ul>
					
					</div>
					<div class="col-sm-4">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="https://www.grantmakers.io/faq/" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<b>Source</b><br>Profile pulled directly from electronically filed IRS Form 990-PF">
									FAQ
								</a>
							</li>
			    	</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->

	<div class="wrapper">
		<!-- <div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/{{ page.State }}.jpg');"></div> -->
		<div class="header header-filter" style="background-image: url('{{ site.baseurl }}/assets/img/NY.jpg');"></div>
		<div class="main main-raised">
			<div class="profile-content">
				<div class="row row-alert-fixed-to-top">
					<div class="col-md-12">
						<div class="alert-fixed-to-top">
							<div class="pull-left">Tax Year {{ page.Filings[0].TaxYear }}</div>
							<div class="pull-right">IRS Form 990-PF</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div id="profile" class="profile text-center">
								<div class="avatar">
										<img src="{{ site.baseurl }}/assets/img/icons-letters/{{ page.OrganizationName | split: '' | first }}.svg" alt="Circle Image" class="img-circle img-responsive">
								</div>
								<div class="name">
									<h1 class="title">
										{% if page.Website %}
											<a href="{{ page.Website}}" title="Visit Website">{{ page.OrganizationName }}</a>
										{% else %}
											{{ page.OrganizationName }}
										{% endif %}
									</h1>
									<h6 class="description">{{ page.City }}, {{ page.State }}</h6>
									<ul class="list-inline description profile-summary-icons text-center"> 
	                  <li>
	                  	{% if page.hasRecentGrants %}
												<i class="material-icons material-icons-active" data-toggle="tooltip" title="Has recent grants">monetization_on</i>
	                  	{% else %}
												<i class="material-icons" data-toggle="tooltip" title="No recent grants">monetization_on</i>
	                  	{% endif %}
	                  </li>  
	                  <li>
	                  	{% if page.isLikelyStaffed %}
	                    <i class="material-icons material-icons-active" data-toggle="tooltip" title="Is likely staffed">account_circle</i>
	                    {% else %}
												<i class="material-icons" data-toggle="tooltip" title="No paid staff">account_circle</i>
	                    {% endif %}
	                  </li>
	                  {% if page.Website %}
	                    <li>
	                      <a href="{{ page.Website }}" target="_blank" data-toggle="tooltip" title="Click to visit website"><i class="material-icons material-icons-active">public</i></a>
	                    </li>
	                  {% else %}
	                    <li>
	                      <i class="material-icons" data-toggle="tooltip" title="No website listed">public</i>
	                    </li>
	                  {% endif %}
	                </ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div id="summary">
								<div class="panel panel-default">
								  <div class="panel-heading">
								  	<h4>Summary</h4>
								  </div>
								  <div class="panel-body">
								    <div class="list-group">
										  <div class="list-group-item">
										    <div class="row-action-primary">
										      <i class="material-icons icon-info">account_balance</i>
										    </div>
										    <div class="row-content">
										      <div class="least-content"></div>
										      <h4 class="list-group-item-heading format-currency">{{ page.Assets }}</h4>
										      <p class="list-group-item-text">Total Assets</p>
										    </div>
										  </div>
										  <div class="list-group-item">
										    <div class="row-action-primary">
										      <i class="material-icons icon-warning">attach_money</i>
										    </div>
										    <div class="row-content">
										      <div class="least-content"></div>
										      <h4 class="list-group-item-heading format-currency">{{ page.GrantMedian }}</h4>
										      <p class="list-group-item-text">Median Grant Size</p>
										    </div>
										  </div>
										  <div class="list-group-item">
										    <div class="row-action-primary">
										      <i class="material-icons icon-success">attach_money</i>
										    </div>
										    <div class="row-content">
										      <div class="least-content"></div>
										      <h4 class="list-group-item-heading format-number">{{ page.GrantCount }}</h4>
										      <p class="list-group-item-text">Number of Grants</p>
										    </div>
										  </div>
										</div>
								  </div>
								</div>
							</div>
						</div>
						<div class="col-md-7 col-md-offset-1">
							<div id="people">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4>People</h4>
									</div>
									<div class="panel-body">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th class="text-center">#</th>
														<th>Name</th>
														<th>Title</th>
														<th>Hours / Wk</th>
														<th>Comp ($)</th>
													</tr>
												</thead>
												<tbody>
													{% for each in page.People %}
														<tr>
															<td class="text-center">{{ forloop.index }}</td>
															{% if each.Name._ %}
																<td>{{ each.Name._ }}</td>
															{% else %}
																<td>{{ each.Name }}</td>
															{% endif %}
															<td>{{ each.Title }}</td>
															<td class="format-number">{{ each.Hours }}</td>
															<td class="format-currency-list">{{ each.Compensation }}</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div id="grants">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4>Grants <span class="pull-right text-muted"><i class="material-icons" data-toggle="tooltip" title="Grants made in {{ page.Filings[0].TaxYear }} tax year">info</i></span></h4>
										<div class="pull-right" style="display: none">
							        <div class="input-group">
										  	<span class="input-group-addon">
													<i class="material-icons">search</i>
										    </span>
										    <div class="form-group">
										    	<input id="input-grant-search" class="form-control" type="text" autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Search..." autofocus/>
										    	<span class="material-input"></span>
										    </div>
												
										  </div>
										</div>
									</div>
									<div class="panel-body">
										<div class="table-responsive">
											<table id="grantsTable" class="table">
												<thead>
													<tr>
														<th data-sort="int" class="text-center"><span>#</span></th>
														<th data-sort="string"><span>Name</span></th>
														<th data-sort="string"><span>Location</span></th>
														<th data-sort="string"><span>Purpose</span></th>
														<th class="text-right" data-sort="int"><span>Amount ($)</span></th>
													</tr>
												</thead>
												<tbody>
													{% assign sorted_grants = (page.Grants | sort: 'Amount'  | reverse) %}
													{% if sorted_grants.size > 0 %}
														{% for each in sorted_grants %}
															<tr>
																<td class="text-center">{{ forloop.index }}</td>
																<td>{{ each.Name }}</td>
																<td>{% if each.City != null %}{{ each.City }}, {{ each.State }}{% endif %}</td>
																<td>{{ each.Purpose }}</td>
																<td class="format-currency-list text-right" data-sort-value="{{ each.Amount }}">{{ each.Amount }}</td>
															</tr>
														{% endfor %}
													{% else %}
														<tr>
															<td></td>
															<td>No Grants Listed</td>
															<td></td>
															<td></td>
															<td></td>
														</tr>
													{% endif %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div id="filings">
								<div class="panel panel-default">
								  <div class="panel-heading">
								  	<h4>Tax Filings</h4>
								  </div>
								  <div class="panel-body">
								    <ul class="list-inline">
								    	<li><i class="material-icons" data-toggle="tooltip" data-html="true" title="<b>Human Readable</b><br>Foundation Center PDFs">picture_as_pdf</i> <span class="visible-xs-inline text-muted">PDF</span></li>
								    	{% for each in page.Filings %}
								    		<li><a class="js-filings-pdf btn btn-default btn-sm" target="_blank" data-tax-period="{{ each.TaxPeriod }}" data-ein="{{ page.EIN }}" data-url-xml="{{ each.URL }}" title="View 990-PF">{{ each.TaxYear }}</a></li>
								    	{% endfor %}
								    </ul>
								    <hr>
								    <ul class="list-inline">
								    	<li><i class="material-icons" data-toggle="tooltip" data-html="true" title="<b>Machine Readable</b><br>XML Format">code</i> <span class="visible-xs-inline text-muted">XML</span></li>
								    	{% for each in page.Filings %}
								    		<li><a class="btn btn-default btn-sm" href="{{ each.URL }}" target="_blank" data-tax-period="{{ each.TaxPeriod }}" data-ein="{{ each.EIN }}" data-url-xml="{{ each.URL }}" title="View 990-PF">{{ each.TaxYear }}</a></li>
								    	{% endfor %}
								    </ul>
								  </div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div id="profile-cta">
								<div class="text-center">
									<h3>Looking for Another Grantmaker?</h3>
									<p>Free profiles for over 70,000 US foundations</p>
									<a href="https://www.grantmakers.io" class="btn btn-danger">Search</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	{% include footer.html %}
	{% include footer-license-and-links.html %}
	{% include ga.html %}

</body>
<!--   Core JS Files   -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/assets/js/material.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/stupidtable.min.js"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="{{ site.baseurl }}/assets/js/material-kit.js" type="text/javascript"></script>

<!-- Search and Algolia-related scripts -->
<!--
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Object.assign,Intl.~locale.en"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch.helper/2/algoliasearch.helper.min.js"></script>
<script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.common.js"></script>
<script src="//cdn.jsdelivr.net/jquery.ion.rangeslider/2.0.12/js/ion.rangeSlider.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
-->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en"></script>
<script src="{{ site.baseurl }}/assets/js/profile.js"></script>

<script type="text/javascript">
	$().ready(function(){
		// the body of this function is in assets/material-kit.js
		//materialKit.initSliders();
		window_width = $(window).width();

		if (window_width >= 992){
			big_image = $('.wrapper > .header');

			$(window).on('scroll', materialKitDemo.checkScrollForParallax);
		}

	});
</script>
	
</html>
